/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.registerBtn{
    background-color: RGBA(57,159,211,0.8);
    border: 2px solid white;
    padding: 1em;
    font-size: 2em;
    color: #ffffff;
}
.registerBtn:hover{
    background-color: #399fd3 ;
    color: #ffffff;
}

#meetups-container ul {
  list-style: none;
  overflow: hidden;
  margin-left: none;
  padding-left: none;
}

#meetups-container ul li {
  width: 230px;
  padding: 15px;
  margin-left: 25px;
  height: 265px;
  border-radius: 4px;
  background-color: #efefef;
  text-align: center;
  overflow: hidden;
  float: left;
}

#meetups-container ul li div.event-name{
  margin: 10px 0px;
  font-size: 1.2em;
  font-weight: 600;
}

#meetups-container ul li img{
  margin-top: 10px;
  width: 90%;
}

#meetups-container ul li a p{
  font-size: 0.9em;
}

#get-involved #is-this-you {
    display: inline-block;
}

.carousel-inner {
  height: 400px;
}

.sliding-thing {
  overflow: hidden;
}

.pt-perspective {
  height: 70px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}

@media(max-width:767px) {
  .pt-perspective {
    display: block;
    overflow: hidden;
  }
}

.pt-perspective > div {
  background-color: #eee;
  display: inline-block;
  padding: 10px;
  border-radius: 2px;
  position: absolute;
  white-space: nowrap;
}

.pt-page {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.pt-page-current,
.no-js .pt-page {
  visibility: visible;
  z-index: 1;
}

.agenda ul {
  padding: 0;
}

.agenda-time {
  color: #888;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-custom-caption {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 30px;
  bottom: 0;
  box-shadow: 0 0px 50px white;
}

.carousel-custom-caption a:hover {
  color: #93C6D0;
}

.carousel-inner .item {
  height: 100%;
}

.carousel-custom-caption h3,
.carousel-custom-caption p {
  margin-bottom: 5px;
}

.projects {
  padding-left: 0;
}

.projects li {
  list-style: none;
  padding: 10px 15px;
  background-color: #eee;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

.projects li.active {
  background-color: #ccc;
}

.projects li:not(.active):hover,
.projects li:active {
  box-shadow: 0 0px 15px rgba(0,0,0,0.1) inset;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 5%;
}

.gallery a {
  width: 25%;
}

.gallery img {
  width: 100%;
}

.map {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 15px;
  height: 450px;
  max-height: 75vh;
}

@media(max-width:768px) {
  .gallery a {
    width: 45%;
  }
}

@media(max-width:512px) {
  .gallery a {
    width: 80%;
  }
}

@media(min-width:768px) {
  .codeacross-title {
    font-size: 80px;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


.gallery img {
    padding-right: 20px;
    padding-top: 30px;
}

.location {
    padding-top: 40px;
}

#nonprofits {
    margin-top: -100px;
}

#sponsors {
    margin-top: -40px;
    padding-bottom: 100px;
}

.markdown-edit {
  display: none;
  float: right;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  padding: 3px;
  border-radius: 3px;
}

.markown-renderer:hover > .markdown-edit {
  display: block;
}
