.Report2016 {
  .container-2016 {
    position: relative;
    width: 90%;
    overflow: auto;
  }
  .descriptions {
    width: 340px;
    float: left;
  }
  .descriptions > section {
    background: white;
    opacity: .2;
    margin-bottom: 250px;
  }
  .descriptions > section.graph-scroll-active {
    opacity: 1;
  }
  #graph {
    float: left;
    margin-left: 40px;
  }
  #graph.graph-scroll-fixed {
    position: fixed;
    top: 0px;
    margin-left: 380px;
  }
  #graph.graph-scroll-below, #graph2.graph-scroll-below {
    position: absolute;
    bottom: 0px;
    margin-left: 380px;
  }
  h1{
    margin: 50px;
  }
  h1, h3{
    text-align: center;
  }
  circle{
    fill: steelblue;
  }
  .mono{
    font-family: monospace;
  }
  svg{
    background-color: #eee;
  }
}
