@font-stack: Helvetica, sans-serif;
@primary-color: rgba(0, 0, 0, 0.75);
@secondaty-color: ghostwhite;
@cfd-blue: rgba(159, 27, 3, 0);
@cfd-red: "#E24E54";
@gray: rgba(100, 100, 100, 1.0);

body {
  font: 100% @font-stack;
  font-size: 4em;
  color: @gray;
  background-color: #eee;
  margin-top: 140px;
}

.row {
  padding: 15px;
}

p.lead {
  font-size: 3rem;
}

.cfd-header {
  background-image: url("../images/cfdlogo.png");
}

.banner {
  color: @secondaty-color;
  background-size: cover;
  position: fixed;
  height: 140px;
  margin-top: -140px;
  z-index: 99;
  left: 0;
  right: 0;
}

.part-one {
  color: @secondaty-color;
}

.part-two {
  color: @secondaty-color;
}

.part-three {
  color: @secondaty-color;
}

.part-four {
  color: @secondaty-color;
}

h2 {
  color: @gray;
}

h3 {
  color: @gray;
  font-size: 7rem;
}

p.lead {
  color: @secondaty-color;
  padding: 0.25em;
  background: @primary-color;
}

.super {
  font-size: 17rem;
}

.thanks {
  h3 {
    font-size: 17rem;
  }
}
