@font-stack:    Helvetica, sans-serif;
@primary-color: rgba(0,0,0,0.75);

body {
  font: 100% @font-stack;
  color: @primary-color;
  background-color: #eee;
  margin-top: 15px;
}

h3{
  color: rgba(0,0,0,0.75);
  font-size: 7rem;
}

p.lead {
  color: whitesmoke;
  padding: 0.25em;
  background: rgba(0,0,0,0.75);
}

.super {
  font-size: 14rem;
}

@media screen and (min-width: 768px){
    .jumbotron {
      padding: inherit;
    }
}