<ul>
  {{#current_events}}
    <li class='event'>
      <div class='event-name'>{{name}}</div>
      <time datetime={{start_time}}>{{dateFormat start_time}}</time>
      <a href='{{event_url}}'>
        <img src='img/meetup-icon.png'/>
        <p>view on meetup.com</p>
      </a>
    </li>
  {{/current_events}}
</ul>
