{{! to compile, inside of templates: handlebars projects.hbs -f projects.hbs.js }}
<ul>
  {{#current_projects}}
    <li>
      From Handlbars template: {{name}}
    </li>
  {{/current_projects}}
</ul>
