{{! to compile, inside of templates: handlebars projects.hbs -f projects.hbs.js }}
{{!-- <ul>
  {{#current_projects}}
    <li>
      From Handlbars template: {{name}}
    </li>
  {{/current_projects}}
</ul> --}}

<p>
  A few projects the brigade has worked on:
</p>
<div class="row">
  <div class="col-md-9 project-highlight">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-pause="hover">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <img src="static/img/CutePetsDenver.png" alt="...">
          <div class="carousel-custom-caption">
            <h3>CutePetsDenver</h3>
            <p>
              Twitter bot that posts adoptable pets in your city
            </p>
            Partnership with <a href="#">Denver Code for America Fellows</a> |
            <a href="https://twitter.com/cutepetsdenver">Twitter</a> |
            <a href="https://github.com/codeforamerica/cutepets">Source</a>
          </div>
        </div>

        <div class="item">
          <img src="static/img/streetsweeping.png" alt="Denver Street Sweeping">
          <div class="carousel-custom-caption">
            <h3>Denver Street Sweeping</h3>
            <p>
              Find street sweeping information for an address in Denver
            </p>
            Partnership with <a href="#">Denver Code for America Fellows</a> |
            <a href="http://streetsweep.co/">streetsweep.co</a> |
            <a href="https://github.com/codeforamerica/denver-schedules">Source</a>
          </div>
        </div>

        <div class="item">
          <img src="static/img/sparkhelp.png" alt="SparkHelp">
          <div class="carousel-custom-caption">
            <h3>SparkHelp</h3>
            <p>
              disaster relief made simple for people and groups
            </p>
            <a href="https://sparkhelp.org/">sparkhelp.org</a> |
            Partnership with <a href="http://www.wearespark.org/">Spark</a>
          </div>
        </div>

        <div class="item">
          <img src="static/img/sparktime.png" alt="SparkTime">
          <div class="carousel-custom-caption">
            <h3>SparkTime</h3>
            <p>
              people and groups record volunteer time by text message
            </p>
            <a href="http://sparktime.org/">sparktime.org</a> |
            Partnership with <a href="http://www.wearespark.org/">Spark</a>
          </div>
        </div>

        <div class="item">
          <img src="static/img/sparkfund.png" alt="SparkFund">
          <div class="carousel-custom-caption">
            <h3>SparkFund</h3>
            <p>
              a unified system for funding and reporting disaster recovery
            </p>
            <a href="http://spark.fund/">spark.fund</a> |
            Partnership with <a href="http://www.wearespark.org/">Spark</a>
          </div>
        </div>

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="col-md-3 project-list">
    <ul class="projects">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
        CutePetsDenver
      </li>
      <li data-target="#carousel-example-generic" data-slide-to="1">
        Denver Street Sweeping
      </li>
      <li data-target="#carousel-example-generic" data-slide-to="2">
        SparkHelp
      </li>
      <li data-target="#carousel-example-generic" data-slide-to="3">
        SparkTime
      </li>
      <li data-target="#carousel-example-generic" data-slide-to="4">
        SparkFund
      </li>
    </ul>
  </div>
</div>
