{
  "extends": "airbnb",

  "parser": "babel-eslint",

  "env": {
    "browser": true
  },

  "rules": {
    "import/default": 2,
    "import/named": 2,
    "import/namespace": 2,
    "import/no-unresolved": 2,
    "jsx-a11y/anchor-has-content": 1,
    "jsx-a11y/img-has-alt": 1,
    "linebreak-style": 0,
    "max-len": 1,
    "react/display-name": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 1,
    "react/sort-comp": 1,
    "semi": [2, "always"]
  }
}
